
*{
    padding: 0;
    margin: 0;
    background-color: rgb(143, 168, 145); 
}

html, body{
    height: 100%;
}


a{
    text-decoration: none;
}


.menu{
    width: 100%;
    margin: 10px auto;
    text-align: right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.menu a{
    font-size: 25px;
    margin: 0 10px;
    color: rgb(42, 126, 26);
    padding-right: 10px;
    border-right: 3px solid rgb(1, 118, 1);
}


.titulo{
    font-size: 60px;
    margin-top: 45px;
    text-align: center;
    color: rgb(45, 99, 57);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.titulo img{
    float: center;
    width: 500px;
    float: right;
    margin-top: 140px;
    margin-bottom: auto;
    margin-right: 40px;
    margin-left: 60px;
}


.artigo{
    width: 100%;
    margin: 40px auto;
    text-align: justify;
}

.artigo h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-top: 100px;
    line-height: 25px;
    padding-left: 40px;
}

.artigo p{
    font-size: 15px;
    font-family: 18px;
    font-style: normal;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    line-height: 25px;
    padding-left: 40px;
}


.um{
    width: 500px;
    height: 800px;
    background: plum;
}

.um > .dois{
    width: 300px;
    height: 300px;
    background: rgb(70, 255, 77);
}

.um > .tres{
    width: 100px;
    height: 100px;
    background: rgb(255, 168, 36);
}

.tres > .quatro{
    width: 100px;
    height: 100px;
    background: rgb(255, 22, 123);
}


































.lista,.lista2{
    list-style-position: inside;
    list-style-type: circle;
    padding-left: 40px;
}

.lista .item3, .lista2 .item3{
    color: blue;
    font-weight: bold;
}

.lista li,.lista2 li{
    color: aqua;
    font-size: 15px;
    margin-top: 30px;
}

ol{
    list-style-position: inside;
}

ol >li{
    color: rgb(255, 0, 0);
}






























.navbar{
    text-align: center;
    font-size: 20px;
    background-color: aquamarine;
}



.conteudos h2{
    margin: 5px  30px;
    margin-top: 30px;
}

.conteudos p{
    margin: 0 30px;
    width: 70%;
}   


.contatos{
    margin: 100px 30px;
}

footer{
    width: 100%;
    text-align: center;
    background-color: rgb(121, 176, 111);
}

/* Espaço entre as letras e altura entre as linhas
p{
    letter-spacing: 2px;
    line-height: 25px;
}

    Largura Máxima
    max-width: 350px;
